
@tailwind base;
@tailwind components;
@tailwind utilities;


.spin{
    /* animation:  spin 1s linear infinite ; */
}

.spin-reverse{
    /* animation: spin 3s linear infinite reverse; */
    z-index: 2;
    
 }
 @keyframes spin {
    100%{
        transform: rotate(1turn);
    }
    
}



.shape{
    z-index: 5;
    transition: border-radius 0.7s ease-out;
    border-radius:60% 40% 50% 70% / 60% 50% 70% 40%;
    animation: morph 1s ease-in-out infinite both alternate ;
    box-shadow: 0 .5rem 1rem #00000026;

}

@keyframes morph{
    0%{
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
    }
    100% {
        border-radius: 40% 60%;
    }
}
